.button {
    
    margin-top: 5px;
    height: 100px;
    width: 300px;
  
}

.body {
    background-color: aqua;
}


.title {
    text-align: center;
}

.flex {
    display:flex;
    padding: 50px, 50px;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    margin-left: 380px;
}